################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csprojAssemblyReference.cache

*.suo
*.user
_ReSharper.*
bin
obj
packages
/DeviceConfigAPI/Logs/Log-20201124.txt
/DeviceConfigAPI/DeviceConfig
