################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataAccess/obj/Debug/netcoreapp3.1/DataAccess.csprojAssemblyReference.cache
