rm:id
rm:label
rm:description
rm:min
rm:max
rm:configured
rm:isconfigure
rm:d
rm:valid
rm:originalid
rm:datatype
rm:defaultvalue
rm:configured
rm:iconurl
rm:duplicate
rm:modules
rm:remainingConfigured
rm:isWarning
rm:isWarningDuplicate
rm:warning
rm:childref
rule:args:object
rule:config:object
rule:isvisible:omit:false
json:config:inline
json:blocks:object
html:head@tag,script@tag,style@tag,img@inline,svg@tag,input@inline
nrmarry:module
nrmarry:blocks